body {
  background-image: linear-gradient(180deg, rgb(195, 0, 255), rgb(255, 0, 170));
}

h1 {
  font-family: Monaco;
  color:black;
  text-align: center;
}

p {
  font-family: Monaco;
  font-size: 20px;
  color:black;
  text-indent: 40px;
}


ul{
 font-family: Monaco;
  font-size: 20px;
  color: black;
  margin-left: 40px
}